body {
    background: black;
    color: #00cc00;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
	text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

button{
    background: #00cc00;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44px;
	text-align: center;	
    border-radius: 34px;
}

button:disabled{
    background: #ccc;
}


hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #00CC00;
    margin: 1em 0;
    padding: 0; 
}