body {
    background: black;
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
	text-align: center;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

button{
    background: darkgrey;
    color: greenyellow;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
	text-align: center;
}