<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no">
    <meta charset="utf-8" />
    <title>HANS Online</title>
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/hans.js"></script> 
</head>
<body style="max-width:400px">
    <h1>Welcome zu HANS!</h1>
    <h2>Hello {{ip}}</h2> 
    <form action="/hanssolo" method="post">
        <button type="submit" name="hanssolo">HansSolo</button>
    </form>
    <p id="reply">{{reply}}</p>
</body>
</html>