<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Drum Web Control</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable = no">
	<meta charset="utf-8" />
	<link rel="stylesheet" type="text/css" href="/static/drumstyle.css">
    <script src="/static/drumscript.js"></script> 
</head>
<body>

<h1>Drum Web Control</h1>
<hr>
<form method="post">
    <button type="button" id="start" onclick="onClick(this.id);">Start</button>
    <button type="button" id="exit" onclick="onClick(this.id);">Exit</button>
    <button type="button" id="reboot" onclick="onClick(this.id);">Reboot</button>
    <button type="button" id="poweroff" onclick="onClick(this.id);">Power Off</button>
</form>
<hr>
<p>Select Input</p>
<div>
    <form method="post">
        Roland V-Drum
        <label class="switch">
            <input type="checkbox" id="ds" value="off" onclick="chCheck(this.id);">
            <div class="slider round"></div>
        </label>
        HANS Drum Util
    </form>
</div>
<hr>
<p>Drum Kitz</p>
<div>
    <form method="post">
        <button type="button" id="DK11" onclick="onClick(this.id);" disabled="disabled" >Funky</button>
        <button type="button" id="DK12" onclick="onClick(this.id);" disabled="disabled" >Electro</button>
        <button type="button" id="DK13" onclick="onClick(this.id);" disabled="disabled" >Beep</button>
        <button type="button" id="DK14" onclick="onClick(this.id);" disabled="disabled" >Noise</button>
        <button type="button" id="DK15" onclick="onClick(this.id);" disabled="disabled" >ArseSnd</button>
    </form>
</div>
<hr>
<p>Effectz</p>
<form method="post">
    <p>Volume</p>
    <label class="switch">
        <input type="checkbox" id="es.Volume" value="on" onclick="chCheck(this.id);">
        <div class="slider round"></div>
    </label>
    <input type="range" id="ec.Volume-param" value="num" min="0" max="100" onchange="chValue(this.id, this.value);" disabled="disabled" />
    <p>Compressor</p>
    <label class="switch">
        <input type="checkbox" id="es.Compressor" value="on" onclick="chCheck(this.id);">
        <div class="slider round"></div>
    </label>
    <input type="range" id="ec.Compressor-param" value="num" min="0" max="100" onchange="chValue(this.id, this.value);" disabled="disabled" />
    <p>Distortion</p>
    <label class="switch">
        <input type="checkbox" id="es.Distortion" value="on" onclick="chCheck(this.id);">
        <div class="slider round"></div>
    </label>
    <input type="range" id="ec.Distortion-param" value="num" min="0" max="100" onchange="chValue(this.id, this.value);" disabled="disabled" />
    <p>FreqShift</p>
    <label class="switch">
        <input type="checkbox" id="es.FreqShift" value="on" onclick="chCheck(this.id);">
        <div class="slider round"></div>
    </label>
    <input type="range" id="ec.FreqShift-param" value="num" min="0" max="100" onchange="chValue(this.id, this.value);" disabled="disabled" />
    <p>Chorus</p>
    <label class="switch">
        <input type="checkbox" id="es.Chorus" value="on" onclick="chCheck(this.id);">
        <div class="slider round"></div>
    </label>
    <input type="range" id="ec.Chorus-param" value="num" min="0" max="100" onchange="chValue(this.id, this.value);" disabled="disabled" />
    <p>Reverb</p>
    <label class="switch">
        <input type="checkbox" id="es.Reverb" value="on" onclick="chCheck(this.id);">
        <div class="slider round"></div>
    </label>
    <input type="range" id="ec.Reverb-param" value="num" min="0" max="100" onchange="chValue(this.id, this.value);" disabled="disabled" />
</form>
<hr>
</body>
</html> 